@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index for the HelloWorld Controller";
}

<h2>HELLO WORLD CONTROLLER</h2>

<p>Hello from our HELLO WORLD CONTROLLER View Template!</p>

